<launch>
  <!-- Load the URDF model -->
  <param name="robot_description" command="cat /home/haidy/roar_ws/src/base_station/roar_full_sus_description/models/roar_updated/roar_description_updated.urdf" />
  
  <!-- Spawn the robot model in an empty Gazebo world -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model roar_updated -param robot_description -z 1.0" />
  
  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
  </include>
</launch>
