<launch>
 

  <!-- Load URDF model -->
  <param name="robot_description" command="cat $(find roar_half_sus_description)/urdf/roar_half_sus_description.urdf"/>

  <!-- Spawn robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model roar -param robot_description -x 0 -y 0 -z 1"/>

</launch>