<launch>
  <!-- Launch Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find roar_description)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load the URDF for the robot -->
  <param name="robot_description" command="$(find xacro)/xacro $(find roar_description)/urdf/roar_control.urdf.xacro" />

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-sdf -file $(find roar_description)/models/roar_model/roar_description.urdf -model roar_empty_world -z 0.5">
  </node>

  <!-- Load the controllers -->
  <rosparam file="$(find roar_description)/config/roar_controllers.yaml" command="load" />

  <!-- Start the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller front_left_wheel_velocity_controller front_right_wheel_velocity_controller rear_left_wheel_velocity_controller rear_right_wheel_velocity_controller" />
</launch>

