<launch>
  
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <param
    name="robot_description"
    textfile="$(find roar_description)/urdf/roar_description.urdf" />
  
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find roar_description)/urdf/roar_description.urdf -urdf -model roar_description"
    output="screen" />
  
  <rosparam file="$(find roar_gazebo)/config/config.yaml" command="load" />
  
  <node 
    name="controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    ns="/roar_model" 
    args="wheel_lhs_front_velocity_controller wheel_lhs_middle_velocity_controller wheel_lhs_back_velocity_controller wheel_rhs_front_velocity_controller wheel_rhs_middle_velocity_controller wheel_rhs_back_velocity_controller joint_state_controller" />

</launch>
