<launch>

  <!-- args -->
  <arg name="rear_cam" default="rear_cam" />
  <arg name="front_cam" default="front_cam" />

  <!-- Detection args -->
  <arg name="marker_size" default="13.0" />
  <arg name="max_new_marker_error" default="0.05" />
  <arg name="max_track_error" default="0.05" />
  
  <!-- ar_track_alvar nodes -->
  <node name="$(arg rear_cam)_ar_track_node" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" >
    <param name="marker_size" type="double" value="$(arg marker_size)" />
    <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
    <param name="max_track_error" type="double" value="$(arg max_track_error)" />
    <param name="output_frame" type="string" value="$(arg rear_cam)_frame" />
    <remap from="camera_image" to="$(arg rear_cam)/image_raw" />
	  <remap from="camera_info" to="$(arg rear_cam)/camera_info" />
    <remap from="ar_pose_marker" to="$(arg rear_cam)/ar_detection" />
    <remap from="visualization_marker" to="$(arg rear_cam)/detection_marker" />
  </node>

  <node name="$(arg front_cam)_ar_track_node" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" >
    <param name="marker_size" type="double" value="$(arg marker_size)" />
    <param name="max_new_marker_error" type="double" value="$(arg max_new_marker_error)" />
    <param name="max_track_error" type="double" value="$(arg max_track_error)" />
    <param name="output_frame" type="string" value="$(arg front_cam)_frame" />
    <remap from="camera_image" to="$(arg front_cam)/image_raw" />
	  <remap from="camera_info" to="$(arg front_cam)/camera_info" />
    <remap from="ar_pose_marker" to="$(arg front_cam)/ar_detection" />
    <remap from="visualization_marker" to="$(arg front_cam)/detection_marker" />
  </node>

</launch>