<launch>

  <!-- ARTACK ALVAR -->
  <include file="$(find perception)/launch/artag_alvar.launch" />

  <!-- PERCEPTION -->
  <!-- perception node -->
  <node name="perception_node" pkg="perception" type="perception.py" respawn="false" output="screen" />

  <!-- VISUALIZATION NODE -->
  <node name="perception_visualizer_node" pkg="perception" type="perception_visualizer.py" respawn="false" output="screen" />

</launch>