<launch>

  <!-- USB CAM -->
  <include file="$(find perception)/launch/cameras_ros.launch" />
  
  <!-- ARTACK ALVAR -->
  <include file="$(find perception)/launch/artag_alvar.launch" />

  <!-- PERCEPTION -->
  <!-- perception node -->
  <!-- <node name="perception_node" pkg="perception" type="perception.py" respawn="false" output="screen" /> -->

</launch>