<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="leo_erc_sim">

  <xacro:arg name="fixed" default="false"/>
  <xacro:arg name="robot_ns" default=""/>

  <xacro:include filename="$(find leo_erc_description)/urdf/leo_erc.xacro"/>

  <xacro:leo_erc_sim robot_ns="$(arg robot_ns)"
                     fixed="$(arg fixed)"/>

</robot>