<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       name="roar_control">

  <!-- Define the transmission for each joint -->
  <xacro:macro name="transmission" params="joint_name">
    <transmission name="${joint_name}_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}" />
      <actuator name="${joint_name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Define the controller for each joint -->
  <xacro:macro name="controller" params="joint_name">
    <controller name="${joint_name}_controller" type="position_controllers/JointPositionController">
      <joint name="${joint_name}" />
      <pid p="100.0" i="0.1" d="10.0" />
    </controller>
  </xacro:macro>

  <!-- Define the hardware interface for each joint -->
  <xacro:macro name="hardware_interface" params="joint_name">
    <interface name="${joint_name}_interface">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <transmission name="${joint_name}_transmission" />
    </interface>
  </xacro:macro>

  <!-- Define the robot hardware interface -->
  <robotHardwareInterface name="roar_hardware_interface">
    <interfaceResources>
      <xacro:hardware_interface joint_name="Wheel_LHS_Front_Joint" />
      <xacro:hardware_interface joint_name="Wheel_LHS_Middle_Joint" />
      <xacro:hardware_interface joint_name="Wheel_LHS_Back_Joint" />
      <xacro:hardware_interface joint_name="Wheel_RHS_Front_Joint" />
      <xacro:hardware_interface joint_name="Wheel_RHS_Middle_Joint" />
      <xacro:hardware_interface joint_name="Wheel_RHS_Back_Joint" />
    </interfaceResources>
  </robotHardwareInterface>

  <!-- Define the transmissions, controllers, and hardware interfaces for each joint -->
  <xacro:transmission joint_name="Wheel_LHS_Front_Joint" />
  <xacro:controller joint_name="Wheel_LHS_Front_Joint" />
  <xacro:hardware_interface joint_name="Wheel_LHS_Front_Joint" />

  <xacro:transmission joint_name="Wheel_LHS_Middle_Joint" />
  <xacro:controller joint_name="Wheel_LHS_Middle_Joint" />
  <xacro:hardware_interface joint_name="Wheel_LHS_Middle_Joint" />

  <xacro:transmission joint_name="Wheel_LHS_Back_Joint" />
  <xacro:controller joint_name="Wheel_LHS_Back_Joint" />
  <xacro:hardware_interface joint_name="Wheel_LHS_Back_Joint" />

  <xacro:transmission joint_name="Wheel_RHS_Front_Joint" />
  <xacro:controller joint_name="Wheel_RHS_Front_Joint" />
  <xacro:hardware_interface joint_name="Wheel_RHS_Front_Joint" />

  <xacro:transmission joint_name="Wheel_RHS_Middle_Joint" />
  <xacro:controller joint_name="Wheel_RHS_Middle_Joint" />
  <xacro:hardware_interface joint_name="Wheel_RHS_Middle_Joint" />

  <xacro:transmission joint_name="Wheel_RHS_Back_Joint" />
  <xacro:controller joint_name="Wheel_RHS_Back_Joint" />
  <xacro:hardware_interface joint_name="Wheel_RHS_Back_Joint" />

  <!-- Define the robot -->
  <xacro:include filename="$(find roar_description)/urdf/roar_description.urdf" />

  <!-- Define the robot's actuators and their interfaces -->
  <xacro:macro name="actuator" params="joint_name">
    <gazebo>
      <plugin name="${joint_name}_plugin" filename="libgazebo_ros_control.so">
        <robotNamespace>/</robotNamespace>
        <jointName>${joint_name}</jointName>
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <rosTopicType>std_msgs/Float64</rosTopicType>
        <rosTopicName>${joint_name}_position_controller/command</rosTopicName>
      </plugin>
    </gazebo>
  </xacro:macro>

  <gazebo>
    <plugin name="roar_hardware_interface_plugin" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
      <rosDebugLevel>debug</rosDebugLevel>
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <clockType>ros</clockType>
    </plugin>
    <plugin name="roar_diff_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <leftJoint>Wheel_LHS_Back_Joint</leftJoint>
      <leftJoint>Wheel_LHS_Middle_Joint</leftJoint>
      <leftJoint>Wheel_LHS_Front_Joint</leftJoint>
      <rightJoint>Wheel_RHS_Back_Joint</rightJoint>
      <rightJoint>Wheel_RHS_Middle_Joint</rightJoint>
      <rightJoint>Wheel_RHS_Front_Joint</rightJoint>
      <wheelSeparation>1.0</wheelSeparation>
      <wheelDiameter>0.4</wheelDiameter>
      <torque>10</torque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
    <xacro:actuator joint_name="Wheel_LHS_Front_Joint" />
    <xacro:actuator joint_name="Wheel_LHS_Middle_Joint" />
    <xacro:actuator joint_name="Wheel_LHS_Back_Joint" />
    <xacro:actuator joint_name="Wheel_RHS_Front_Joint" />
    <xacro:actuator joint_name="Wheel_RHS_Middle_Joint" />
    <xacro:actuator joint_name="Wheel_RHS_Back_Joint" />
  </gazebo>
</robot>

